.margin-20 {
    margin: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}

.padding-20 {
    padding: 20px;
}

.padding-top-20 {
    padding-top: 20px;
}

.bc-blue {
    background-color: #7fd000;
}

.bc-yellow {
    background-color: #337ab7;
}

.btn-close {
    color: white;
    background-color: #395a00;
}

.white {
    color: black;
    background-color: white;
    padding: 0 5px;
}